<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    
  <script type="text/javascript">
  let map;
  let markers=[];
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    center: new google.maps.LatLng(23.748637, 90.368703),
    zoom: 16,
  });
  const infowindow = new google.maps.InfoWindow({
    content: "<h2>Click</h2>"+"<button onClick=hello()>button</button>"
  });
  setInterval(()=>{
    const socket = io();
    DeleteMarkers();
    socket.on("update",(data)=>{
        for (let i = 0; i < data.length; i++) {
        const marker = new google.maps.Marker({       
        position: new google.maps.LatLng(data[i].lat,data[i].long),
        icon:'./icon.png',
        map: map
      });
      markers.push(marker);
      }
    })
    },3000);
  } 
  function DeleteMarkers() {
        //Loop through all the markers and remove
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    };
  </script>

  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJGu7I8R6xydc8Fap-04DPIgdP8Z--rkE&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>